include ../block/block
include ../rate/rate

mixin skills-block(options)
    -
        options = options || {};
        const {data = []} = options;
    +block({title: {text: "skills", src: "./static/images/bulb-icon.png"}})
        +rate({data: data, type: "dotted"})