include ../rate/rate

mixin skills-block(options)
    -
        options = options || {};
        const {data = []} = options;
    section.skills-block
        +title({text: "skills", src: "./static/images/bulb-icon.png"})
        .skills-block__el
            +rate({data: data, type: "dotted"})