include ../rate/rate

mixin skills-block(options)
    -
        options = options || {};
        const {data = [], title = "", image = ""} = options;
    section.skills-block
        +title({text: title, src: image})
        .skills-block__el
            +rate({data: data, type: "dotted"})