mixin blockMix(options)
	-
		var options = options ? options : {};
	.block
		if block
			block

mixin blockHeaderMix(options)
	-
		var options = options ? options : {};
		var title 	= options.title ? options.title : 'title';
	.block__header
		.block__icon
			if block
				block
		h1.block__title= title
		.block__decorLine

mixin blockElMix(options)
	-
		var options = options ? options : {};
	if block
		.block__el
			block