@font-face {
  font-family: Myriad-Pro
  font-weight: 450
  src: url('../fonts/Myriad-Pro.otf') format('opentype'),  url('../fonts/Myriad-Pro.eot?#') format('eot'), url('../fonts/Myriad-Pro.ttf') format('truetype'), url('../fonts/Myriad-Pro.woff') format('woff'), url('../images/Myriad-Pro.svg') format('svg')
}

@font-face {
  font-family: Myriad-Pro
  font-weight: bold
  src: url('../fonts/Myriad-Pro-Bold.otf') format('opentype'),  url('../fonts/Myriad-Pro-Bold.eot?#') format('eot'), url('../fonts/Myriad-Pro-Bold.ttf') format('truetype'), url('../fonts/Myriad-Pro-Bold.woff') format('woff'), url('../images/Myriad-Pro-Bold.svg') format('svg')
}

@font-face {
  font-family: Myriad-Pro
  font-weight: 200
  src: url('../fonts/Myriad-Pro-LightSemiExt.eot') format('eot?#'), url('../fonts/Myriad-Pro-LightSemiExt.ttf') format('truetype'), url('../fonts/Myriad-Pro-LightSemiExt.woff') format('woff'), url('../images/Myriad-Pro-LightSemiExt.svg') format('svg')
}

html
  background-color: white
  font-size: 7.41pt
  font-family: Myriad-Pro
  font-weight: 450
  color: black
  @media screen and (max-width:2000px)
    font-size: 6.41pt
  @media screen and (max-width:1880px)
    font-size: 5.41pt
  @media screen and (max-width:1460px)
    font-size: 4.81pt
  @media screen and (max-width:1340px)
    font-size: 4.41pt
  @media screen and (max-width:1180px)
    font-size: 3.41pt
  @media screen and (max-width:910px)
    font-size: 3.2pt
  @media screen and (max-width:880px)
    font-size: 6pt
  @media screen and (max-width:860px)
    font-size: 5.5pt
  @media screen and (max-width:790px)
    font-size: 5pt
  @media screen and (max-width:720px)
    font-size: 4pt
  @media screen and (max-width:575px)
    font-size: 3.4pt
  @media screen and (max-width:490px)
    font-size: 2.8pt
  @media screen and (max-width:400px)
    font-size: 2.5pt

ul
body
h1
h2
li
p
  margin: 0