@font-face {
	font-family: Myriad-Pro
	src: url('../fonts/Myriad-Pro.otf') format("opentype"),  url('../fonts/Myriad-Pro.eot?#') format("eot"), url('../fonts/Myriad-Pro.ttf') format("truetype"), url('../fonts/Myriad-Pro.woff') format("woff"), url('../images/Myriad-Pro.svg') format("svg")
}

@font-face {
	font-family: Myriad-Pro-bold
	src: url('../fonts/Myriad-Pro-Bold.otf') format("opentype"),  url('../fonts/Myriad-Pro-Bold.eot?#') format("eot"), url('../fonts/Myriad-Pro-Bold.ttf') format("truetype"), url('../fonts/Myriad-Pro-Bold.woff') format("woff"), url('../images/Myriad-Pro-Bold.svg') format("svg")
}

@font-face {
	font-family: Myriad-Pro-LightSemiExt
	src: url('../fonts/Myriad-Pro-LightSemiExt.eot') format("eot?#"), url('../fonts/Myriad-Pro-LightSemiExt.ttf') format("truetype"), url('../fonts/Myriad-Pro-LightSemiExt.woff') format("woff"), url('../images/Myriad-Pro-LightSemiExt.svg') format("svg")
}

html
	font-size: 7.41pt /* 7.41 */
	font-family: Myriad-Pro

body
	background-color: white
	margin: 0