include ../list/list

mixin education-block(options)
    -
        options = options || {};
        const {data = []} = options;
    .education-block
        +title({text: "education", src: "./static/images/star-icon.png"})
        .education-block__el
            +list({data: data})