include ../title/title
include ../list/list

mixin education-block(options = {})
    -
        const {data = [], title = "", image = ""} = options;
    .education-block
        +title({text: title, src: image})
        .education-block__el
            +list({data: data})