//- Миксин создаёт колонку страницы. Свойства:
//- 'side' (string) ['left', 'right'] - сторона колонки. По умолчанию - 'left'.
//- Ожидается любое содержимое.

mixin columnMix(options)
    -
        var options = options ? options : {};
        var side = options.side ? options.side : 'left';
    .column(class='' + (' column_side_' + side))&attributes(attributes)
        if block
            block

//- Миксин создаёт скецию колонки.
//- Ожидается любое содержимое.
mixin columnSectionMix(options)
    -
        var options = options ? options : {};
    .column__section&attributes(attributes)
        if block
            block