include ../rate/rate

mixin software-block(options = {})
    -
        const {data = [], title = "", image = ""} = options;
    .software-block
        +title({text: title, src: image})
        .software-block__el
            +rate({data: data, type: "linear"})