include ../rate/rate

mixin software-block(options)
    -
        options = options || {};
        const {data = []} = options;
    .software-block
        +title({text: "software", src: "./static/images/computer-icon.png"})
        .software-block__el
            +rate({data: data, type: "linear"})