include ../block/block
include ../rate/rate

mixin software-block(options)
    -
        options = options || {};
        const {data = []} = options;
    +block({title: {text: "software", src: "./static/images/computer-icon.png"}})
        +rate({data: data, type: "linear"})