include ../user/user
include ../profile-block/profile-block
include ../contacts-block/contacts-block
include ../skills-block/skills-block
include ../education-block/education-block
include ../experience-block/experience-block
include ../software-block/software-block

mixin content(options)
    -
        options = options || {};
        const {userData, profileData, contactsData, skillsData, educationData, experienceData, softwareData} = options;
    main.content
        .column.column_side_left
            .column__section
                +user(userData)

            .column__section
                +profile-block(profileData)

            .column__section
                +contacts-block(contactsData)

            .column__section
                +skills-block(skillsData)

        .column.column_side_right
            .column__section
                +education-block(educationData)

            .column__section
                +experience-block(experienceData)

            .column__section
                +software-block(softwareData)