include ../user/user
include ../profile-block/profile-block
include ../contacts-block/contacts-block
include ../skills-block/skills-block
include ../education-block/education-block
include ../experience-block/experience-block
include ../software-block/software-block

mixin content(options = {})
    -
        const {userData, profileData, contactsData, skillsData, educationData, experienceData, softwareData} = options;
    main.content
        .content__column.content__column_side_left
            .content__section
                +user(userData)

            .content__section
                +profile-block(profileData)

            .content__section
                +contacts-block(contactsData)

            .content__section
                +skills-block(skillsData)

        .content__column.content__column_side_right
            .content__section
                +education-block(educationData)

            .content__section
                +experience-block(experienceData)

            .content__section
                +software-block(softwareData)