.content
  padding: 5% 4.6% 5% 5%
  display: flex
  justify-content: space-between
  @media screen and (max-width:880px)
    display: block
    justify-content: unset
    
  &__column
    &_side
      &_left
        width: 36.8%
        @media screen and (max-width:880px)
          width: 100%
          
      &_right
        width: 56.5%
        padding-top: 2.85rem
        @media screen and (max-width:880px)
          width: 100%
      
  &__section
    margin-top: 9.55rem
    width: auto

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 6.7rem