include ../user/user
include ../profileBlock/profileBlock
include ../contactsBlock/contactsBlock
include ../skillsBlock/skillsBlock
include ../educationBlock/educationBlock
include ../experienceBlock/experienceBlock
include ../softwareBlock/softwareBlock

mixin content(options)
    -
        options = options ? options : {};
        const {userData, profileData, contactsData, skillsData, educationData, experienceData, softwareData} = options;
    main.content
        .column.column_side_left
            .column__section
                +user(userData)

            .column__section
                +profileBlock(profileData)

            .column__section
                +contactsBlock(contactsData)

            .column__section
                +skillsBlock(skillsData)

        .column.column_side_right
            .column__section
                +educationBlock(educationData)

            .column__section
                +experienceBlock(experienceData)

            .column__section
                +softwareBlock(softwareData)