.base {
  padding: 5% 4.6% 5% 5%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 880px) {
  .base {
    display: block;
    justify-content: unset;
  }
}

.column__section {
  margin-top: 9.55rem;
  width: auto;
}
.column__section:first-child {
  margin-top: 0;
}
.column__section:last-child {
  margin-bottom: 6.7rem;
}

.column_side_left {
  width: 36.8%;
}
@media screen and (max-width: 880px) {
  .column_side_left {
    width: 100%;
  }
}

.column_side_right {
  width: 56.5%;
  padding-top: 2.85rem;
}
@media screen and (max-width: 880px) {
  .column_side_right {
    width: 100%;
  }
}


.contacts__el {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}
.contacts__el:first-child {
  margin-top: 4rem;
}

.contacts__elTitle {
  width: 30%;
  font-style: normal;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: Myriad-Pro-bold;
  color: #3d6cb0;
}

.contacts__elValue {
  width: 69%;
  font-size: 4rem;
  font-style: normal;
}


.em_style_normal {
  font-style: normal;
}


@font-face {
  font-family: Myriad-Pro;
  src: url("../fonts/Myriad-Pro.otf") format("opentype"), url("../fonts/Myriad-Pro.eot?#") format("eot"), url("../fonts/Myriad-Pro.ttf") format("truetype"), url("../fonts/Myriad-Pro.woff") format("woff"), url("../images/Myriad-Pro.svg") format("svg");
}
@font-face {
  font-family: Myriad-Pro-bold;
  src: url("../fonts/Myriad-Pro-Bold.otf") format("opentype"), url("../fonts/Myriad-Pro-Bold.eot?#") format("eot"), url("../fonts/Myriad-Pro-Bold.ttf") format("truetype"), url("../fonts/Myriad-Pro-Bold.woff") format("woff"), url("../images/Myriad-Pro-Bold.svg") format("svg");
}
@font-face {
  font-family: Myriad-Pro-LightSemiExt;
  src: url("../fonts/Myriad-Pro-LightSemiExt.eot") format("eot?#"), url("../fonts/Myriad-Pro-LightSemiExt.ttf") format("truetype"), url("../fonts/Myriad-Pro-LightSemiExt.woff") format("woff"), url("../images/Myriad-Pro-LightSemiExt.svg") format("svg");
}
html {
  font-size: 7.41pt /* 7.41 */;
  font-family: Myriad-Pro;
  color: #000;
}
@media screen and (max-width: 2000px) {
  html {
    font-size: 6.41pt;
  }
}
@media screen and (max-width: 1880px) {
  html {
    font-size: 5.41pt;
  }
}
@media screen and (max-width: 1380px) {
  html {
    font-size: 4.41pt;
  }
}
@media screen and (max-width: 1120px) {
  html {
    font-size: 3.41pt;
  }
}
@media screen and (max-width: 880px) {
  html {
    font-size: 6pt;
  }
}
@media screen and (max-width: 860px) {
  html {
    font-size: 5.5pt;
  }
}
@media screen and (max-width: 790px) {
  html {
    font-size: 5pt;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 4pt;
  }
}
@media screen and (max-width: 575px) {
  html {
    font-size: 3.4pt;
  }
}
@media screen and (max-width: 490px) {
  html {
    font-size: 2.8pt;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 2.5pt;
  }
}
body {
  background-color: #fff;
}
ul {
  margin: 0;
}
body,
h1,
h2,
li,
p {
  margin: 0;
}
h2,
h1 {
  text-transform: uppercase;
  font-family: Myriad-Pro-bold;
}
b {
  font-family: Myriad-Pro-bold;
}

.icon__image {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6%;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
  background-color: #3d6cb0;
  background-clip: content-box;
}

.image__outer {
  position: relative;
  border: 0.27rem solid #3d6cb0;
  border-radius: 50%;
  padding-bottom: 100%;
  width: 100%;
}


.list__el {
  position: relative;
  margin-top: 2.25rem;
}
.list__el:first-child {
  margin-top: 3rem;
}
.list__el::before {
  content: "\2B24";
  position: absolute;
  font-size: 5rem;
  left: -8.5rem;
}

.list__elContent {
  margin-top: 1.25rem;
}

.list__elDate {
  display: inline-block;
  margin: 0;
  margin-left: 3rem;
  font-size: 5rem;
  font-style: normal;
}
.list__elDate::before {
  content: "// ";
}


.list__elMajorTitle {
  display: inline-block;
  margin: 0;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: Myriad-Pro-bold;
}

.list__elMinorTitle {
  display: block;
  margin: 0;
  font-size: 5rem;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 0.9rem;
}

.list {
  list-style: none;
  padding-left: 11rem;
}

.p {
  font-size: 3rem;
  line-height: 3.75rem;
}

.preview__image {
  width: 57.75%;
  margin: 6.5% auto 0 auto;
}

.preview__info_type_name {
  font-size: 10.5rem;
  font-family: Myriad-Pro-LightSemiExt;
}

.preview__info_type_profession {
  font-size: 5rem;
  font-family: Myriad-Pro-Bold;
}

.preview__info_type_surname {
  margin-top: -3.9rem;
  font-size: 12.4rem;
  font-family: Myriad-Pro-Bold;
}

.preview__info {
  display: block;
  text-transform: uppercase;
  font-style: normal;
}

.preview__infoBox {
  text-align: center;
  margin: 6.5% auto 7.5% auto;
}

.preview {
  padding-left: 2.9rem;
  overflow: hidden;
}

.rate__el_type_dotted {
  margin-top: 4.25rem;
  padding: 0 11.5% 0 10.5%;
  text-align: center;
}
.rate__el_type_dotted:first-child {
  margin-top: 3rem;
}

.rate__el_type_linear {
  margin-top: 4.5rem;
}
.rate__el_type_linear:first-child {
  margin-top: 3rem;
}


.rate__elTitle {
  font-style: normal;
  font-size: 5rem;
  font-family: Myriad-pro;
  text-transform: uppercase;
}

.rate__elValue_type_dotted {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  display: inline-block;
}

.rate__elValue_type_linear {
  height: 4.5rem;
}


.rate__elValueBox_type_dotted {
  margin-top: 1.75rem;
}

.rate__elValueBox_type_linear {
  margin-top: 2.9rem;
}

.rate__elValueBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.title__decorline {
  height: 1rem;
  width: 100%;
  flex-shrink: 1;
  border: 0;
  background-color: #3d6cb0;
}

.title__icon {
  width: 14rem;
  flex-shrink: 0;
}

.title__outer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.title__text {
  margin: 0 2% 0 3%;
  flex-shrink: 0;
  font-size: 8rem;
  color: #3d6cb0;
}


.wrapper_centering {
  margin-left: auto;
  margin-right: auto;
}

.wrapper_justify_around {
  justify-content: space-around;
  display: flex;
}

.wrapper_justify_between {
  justify-content: space-between;
  display: flex;
}

.wrapper_justify_unset {
  display: block;
}

.wrapper {
  margin-top: 2.25rem;
  overflow: hidden;
}
.wrapper:first-of-type {
  margin-top: 0;
}

