mixin contacts(options)
    -
        var options = options ? options : {};
        var {data} = options;
    .contacts&attributes(attributes)
        for item in data
            .contacts__el&attributes(attributes)
               em.contacts__el-title= item.title
               em.contacts__el-value= item.value