.column_side_left
  width: 36.8%
  @media screen and (max-width:880px)
    width: 100%
    
.column_side_right
  width: 56.5%
  padding-top: 2.85rem
  @media screen and (max-width:880px)
    width: 100%
    
.column__section
  margin-top: 9.55rem
  width: auto

.column__section:first-child
  margin-top: 0

.column__section:last-child
  margin-bottom: 6.7rem