include ../title/title
include ../paragraph/paragraph

mixin profile-block(options)
    -
        options = options || {};
        const {text = ""} = options;
    .profile-block
        .profile-block__title
            +title({text: "pofile", src: "./static/images/man-icon.png"})
        .profile-block__el
            +paragraph({text: text})