include ../block/block
include ../paragraph/paragraph

mixin profile-block(options)
    -
        options = options || {};
        const {text = ""} = options;
    +block({title: {text: "profile", src: "./static/images/man-icon.png"}})
        +paragraph({text: text})