//- Миксин создаёт блок контактов.
//- Ожидается список контактов.
mixin contactsMix(options)
	-
		var options = options ? options : {};
	.contacts&attributes(attributes)
		if block
			block

//- Миксин создаёт контакт. Свойства:
//- 'title' (string) - заголовок контакта. По умолчанию - 'title'.
//- 'value' (string) - значение контакта. По умолчанию - 'undefined'.
mixin contactsElMix(options)
	-
		var options = options ? options : {};
		var title 	= options.title ? options.title : 'title',
			value 	= options.value ? options.value : 'undefined';
	.contacts__el&attributes(attributes)
		em.contacts__elTitle= title
		em.contacts__elValue= value