include ../icon/icon

mixin user(options)
    -
        var options = options ? options : {};
        var {name = "name", surname, profession = "unknown", logo} = options;
    .user&attributes(attributes)
        .user__image
            +icon({image: logo, alt: "Logo"})
        .user__info-box
            em.user__info.user__info_type_name= name
            if surname
                em.user__info.user__info_type_surname= surname
            em.user__info.user__info_type_profession= profession