//- Миксин создаёт блок информации о пользователе. Свойства:
//- "name" (string) - имя пользователя. По умолчанию - "name".
//- "surname" (string / nothing) - фамилия пользователя.
//- "profession" (string) - профессия пользователя. По умолчанию - "unknown".
//- Ожидается изображение.
mixin user(options)
    -
        var options = options ? options : {};
        var name = options.name ? options.name : "name",
            surname  = options.surname,
            profession = options.profession ? options.profession : "unknown";
    .user&attributes(attributes)
        .user__image
            if block
                block
        .user__info-box
            em.user__info.user__info_type_name= name
            if surname
                em.user__info.user__info_type_surname= surname
            em.user__info.user__info_type_profession= profession