.user
  padding-left: 2.9rem
  overflow: hidden

  &__image
    width: 57.75%
    margin: 6.5% auto 0 auto

  &__info-box
    text-align: center
    margin: 6.5% auto 7.5% auto

  &__info
    display: block
    text-transform: uppercase
    font-style: normal

    &_type
      &_name
        font-size: 10.5rem
        font-family: Myriad-Pro, Arial, sans-serif
        font-weight: 200

      &_profession
        font-size: 5rem
        font-family: Myriad-Pro, Arial, sans-serif
        font-weight: bold

      &_surname
        margin-top: -3.9rem
        font-size: 12.4rem
        font-family: 'myriad-pro'
        font-weight: bold