mixin rateMix(options)
	-
		var options = options ? options : {};
	.rate
		if block
			block

mixin rateElMix(options)
	-
		var options = options ? options : {};
		var title 	= options.title ? options.title : 'title',
			type 	= options.type ? options.type : 'linear',
			value 	= options.value ? options.value : 50;
	.rate__el(data-value=value + '%' class='' + (' rate__el_type_' + type))
		h2.rate__title=title
		.rate__field(class='' + (' rate__field_type_' + type))
			case type
				when 'dotted'
					- var filled = Math.round((value * 12)/100);
					- for(var i=0; i < filled; i++)
						.rate__value.rate__value_color_lightblue(class='' + (' rate__value_type_' + type))
					- for(var i=0; i < 12 - filled; i++)
						.rate__value.rate__value_color_gray(class='' + (' rate__value_type_' + type))
				when 'linear'
					.rate__value.rate__value_color_lightblue(style='width:' + value + '%' class='' + (' rate__value_type_' + type))