//- Миксин создаёт иконку. Свойства:
//- "src" (string) - ссылка на изоражение. По умолчанию - "".
//- "type" (string) ["image", "icon"] - тип иконки. По умолчанию - "image".
mixin icon(options)
    -
        var options = options ? options : {};
        var image = options.src ? options.src : "",
            alt = options.alt ? options.alt : "alternate text",
            type = options.type ? options.type : "image";
    .icon&attributes(attributes)
        .icon__outer
            case type
                when "image"
                    img.icon__image(src=image, alt = alt)
                when "icon"
                    .icon__image(class="" + (" icon__image_content_" + image))