.icon
  width: 100%

.icon__outer
  position: relative
  border: .27rem solid #3d6cb0
  border-radius: 50%
  padding-bottom: 100%
  width: 100%

.icon__image
  position: absolute;
  width: 100%
  height: 100%
  padding: 6%;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
  background-color: #3d6cb0;
  background-clip: content-box;

.icon__image_content_bulb
  background-image: url("../images/bulb-icon.png")

.icon__image_content_computer
  background-image: url("../images/computer-icon.png")
  
.icon__image_content_handset
  background-image: url("../images/handset-icon.png")

.icon__image_content_man
  background-image: url("../images/man-icon.png")

.icon__image_content_package
  background-image: url("../images/package-icon.png")

.icon__image_content_star
  background-image: url("../images/star-icon.png")