mixin icon(options)
    -
        options = options ? options : {};
        const {src = "", alt = "alternate text"} = options;
    .icon&attributes(attributes)
        .icon__outer
            img.icon__image(src=src, alt=alt)