mixin icon(options)
    -
        var options = options ? options : {};
        var {image = "", alt = "alternate text", type = "image"} = options;
    .icon&attributes(attributes)
        .icon__outer
            case type
                when "image"
                    img.icon__image(src=image, alt = alt)
                when "icon"
                    .icon__image(class="" + (" icon__image_content_" + image))