include ../title/title

mixin block(options)
    -
        options = options || {};
        const {title = false} = options;
    section.block
        if title
            +title({text: title.text, src: title.src})
        .block__content
            if block
                block