mixin wrapMix(options)
	-
		var options = options ? options : {};
		var ident 	= options.ident;
	.wrap(class='' + (ident ? ' wrap_ident_' + ident : ''))
		if block
			block

mixin wrapElMix(options)
	-
		var options = options ? options : {};
		var offset 	= options.offset;
	.wrap__el(class='' + (offset ? ' wrap__el_offset' : ''))
		if block
			block