mixin rate(options)
    -
        var options = options ? options : {};
        var type = options.type ? options.type : "linear";
        var data = options.data ? options.data : {};
    .rate(class="" + (" rate_type_" + type))&attributes(attributes)
        for item in data
            .rate__el(class="" + (" rate__el_type_" + type))&attributes(attributes)
                em.rate__el-title=item.title
                .rate__el-value-box(class="" + (" rate__el-value-box_type_" + type))
                    case type
                        when "dotted"
                            - var filled = Math.round((item.value * 12) / 100);
                            - for(var i=0; i < filled; i++)
                                .rate__el-value(class="" + (" rate__el-value_type_" + type) + (" rate__el-value_color_blue"))
                            - for(var i=0; i < 12 - filled; i++)
                                .rate__el-value(class="" + (" rate__el-value_type_" + type) + (" rate__el-value_color_gray"))
                        when "linear"
                            .rate__el-value(style="width:" + item.value + "%" class="" + (" rate__el-value_type_" + type) + (" rate__el-value_color_blue"))
                            .rate__el-value(style="width:" + (100 - item.value) + "%" class="" + (" rate__el-value_type_" + type) + (" rate__el-value_color_gray"))