mixin rate(options)
    -
        options = options || {};
        const {type = "linear", data = []} = options;
    .rate(class="" + (" rate_type_" + type))
        for item in data
            .rate__el(class="" + (" rate__el_type_" + type))
                em.rate__el-title=item.title
                .rate__el-value-box(class="" + (" rate__el-value-box_type_" + type))
                    case type
                        when "dotted"
                            - var filled = Math.round((item.value * 12) / 100);
                            - for(var i=0; i < filled; i++)
                                .rate__el-value(class="" + (" rate__el-value_type_" + type) + (" rate__el-value_color_blue"))
                            - for(var i=0; i < 12 - filled; i++)
                                .rate__el-value(class="" + (" rate__el-value_type_" + type) + (" rate__el-value_color_gray"))
                        when "linear"
                            .rate__el-value(style="width:" + item.value + "%" class="" + (" rate__el-value_type_" + type) + (" rate__el-value_color_blue"))
                            .rate__el-value(style="width:" + (100 - item.value) + "%" class="" + (" rate__el-value_type_" + type) + (" rate__el-value_color_gray"))