mixin listMix()
	ul.list
		if block
			block

mixin listElMix(majorTitle, date, minorTitle, color)
	li.list__el
		.list__header
			if !color
				h2.list__majorTitle= majorTitle
			else 
				if color == 'lightblue'
					h2.list__majorTitle.list__majorTitle_color_lightblue= majorTitle
			em.list__date= date
			em.list__minorTitle= minorTitle
		if block
			.list__content
				block