mixin listMix(options)
	ul.list&attributes(attributes)
		if block
			block

mixin listElMix(options)
	-
		var options 	= options ? options : {};
		var majorTitle 	= options.majorTitle ? options.majorTitle : 'major title',
			date 		= options.date,
			minorTitle 	= options.minorTitle,
			titleColor 	= options.titleColor ? options.titleColor: 'black';
	li.list__el&attributes(attributes)
		.list__elHeader
			h2.list__elMajorTitle(style="color: " + titleColor)= majorTitle
			if date
				em.list__elDate= date
			if minorTitle
				em.list__elMinorTitle= minorTitle
		.list__elContent
			if block
				block