.title
  width: 100%

.title__outer
  display: flex
  width: 100%
  justify-content: flex-start
  align-items: center

.title__icon
  width: 14rem
  flex-shrink: 0

.title__text
  font-weight: bold
  text-transform: uppercase
  margin: 0 2% 0 3%
  flex-shrink: 0
  font-size: 8rem
  color: #3d6cb0
  
.title__decorline
  width: 100%
  flex-shrink: 1
  background-color: #3d6cb0
  border: .6rem solid #3d6cb0