include ../icon/icon

mixin title(options)
    -
        var options = options ? options : {};
        var text = options.text ? options.text : "title";
        var icon = options.icon ? options.icon : "";
    header.title&attributes(attributes)
        .title__outer
            .title__icon
                +icon({type: "icon", src: icon})
            h1.title__text= text
            hr.title__decorline