include ../icon/icon

mixin title(options)
    -
        options = options ? options : {};
        const {text = "title", src = ""} = options;
    header.title&attributes(attributes)
        .title__outer
            .title__icon
                +icon({type: "icon", src: src})
            h1.title__text= text
            hr.title__decorline