include ../blocks/block/block
include ../blocks/title/title
include ../blocks/user/user
include ../blocks/contacts/contacts
include ../blocks/rate/rate
include ../blocks/list/list
include ../blocks/pStyled/pStyled

doctype html
html
    // Шапка страницы
    head
        meta(charset="utf-8")
        title Resume
        link(rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon")
        meta(name="description" content="Resume")
        meta(name="Keywords" content="Resume")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
    // Тело страницы
    body
        main.base
            .column.column_side_left
                // Блок Preview
                .column__section
                    +block({margin: false})
                        +user({name: "Evgeniy", surname: "Miller", profession: "noname", logo: "./static/images/wglogo.jpg"})
                // Блок Profile
                .column__section
                    +block({title: {text: "profile", icon: "man"}})
                        +pStyled
                            | Привет. Это пример блока с простым текстом. И, раз уж разрешили писать про себя, то почему бы и не воспользоваться возможностью, правильно?
                        +pStyled
                            | Итак.. Евгеша, 17 годиков, Северск. Заканчиваю 11 класс, веду никому не нужный канал на YouTube (что мне, кстати, нравится), периодически рисую, читаю, кручу педали, иногда лезу в 3D и так далее.. Всё как обычно. Хочу в Канаду или в Норвегию (посмотрим).
                        +pStyled
                            b С вебдевом познакомился, когда решил сделать сайт для канала (года 2-3 назад). Активно влез сюда относительно недавно.
                        +pStyled
                            | Если вкратце, то всё.
                // Блок Contact
                .column__section
                    +block({title:{text: "contact", icon: "handset"}})
                        +contacts({
                            data: [
                                {title: "adress", value: "Kalinina, Seversk"},
                                {title: "email", value: "karabin.m@yandex.ru"},
                                {title: "phone", value: "+7-952-153-84-08"},
                                {title: "website", value: "development paused"}
                            ]
                        })
                // Блок Skills
                .column__section
                    +block({title: {text: "skills", icon: "bulb"}})
                        +rate({data: [
                            {title: "creative", value: 75},
                            {title: "teamwork", value: 80},
                            {title: "innovate", value: 70},
                            {title: "communication", value: 75}
                        ], type: "dotted"})
            .column.column_side_right
                // Блок Education
                .column__section
                    +block({title: {text: "education", icon: "star"}})
                        +list({data: [
                            {
                                majorTitle: "1 to 5 classes",
                                titleColor: "blue",
                                date: "Sep 2007 - May 2012",
                                minorTitle: "25 School", color: "lightblue",
                                text: "Вышки нет, поэтому будет то, что есть. 1 - 5 классы, первая школа, учился здесь, пока ещё жил в томске."
                            },
                            {
                                majorTitle: "6 to 9 classes",
                                titleColor: "blue",
                                date: "Sep 2012 - May 2017",
                                minorTitle: "81 School", color: "lightblue",
                                text: "Среднее неполное образование, переезд в Северск."
                            },
                            {
                                majorTitle: "10 to 11 classes",
                                titleColor: "blue",
                                date: "Sep 2017 - May 2019",
                                minorTitle: "81 School", color: "lightblue",
                                text: "Последний рывок, последние два класса в физмат. профиле до полного среднего."
                            },
                            {
                                majorTitle: "Bachelor",
                                titleColor: "blue",
                                date: "November 2019 - xxx",
                                minorTitle: "FDO Tusur",
                                color: "lightblue",
                                text: "Поступил на заочный факультет ТУСУР, на программную инженерию."
                            }
                        ]})
                // Блок Experience
                .column__section
                    +block({title: {text: "experience", icon: "package"}})
                        +list({data: [
                            {
                                majorTitle: "lKl official",
                                date: "Oct 2014 - Aug 2018",
                                minorTitle: "Host",
                                text: "Опять же - я ещё нигде не работал, так что будут хобби-проекты.<br>lKl - Mr&nbsplKlAlRlAlBlIlNl - преимущественно YouTube проект, на котором я выпускал видосики по играм, пробовал делать переводы и т.п..<br>Именнно этот проект сподвигнул меня познакомиться с фронтендом."
                            },
                            {
                                majorTitle: "White Gloom",
                                date: "Aug 2018 - Now",
                                minorTitle: "Host",
                                text: "Mr lKlAlRlAlBlIlNl морально устарел, и на смену ему пришёл новый проект - White&nbspGloom.<br>Проект отличается начинкой и целевой аудиторией - проект полностью отдан творчеству и хобби.<br>Для проекта также разрабатывается сайт, но сейчас разработка на паузе."
                            }
                        ]})
                // Блок Software
                .column__section
                    +block({title: {text: "software", icon: "computer"}})
                        +rate({data: [
                            {title: "photoshop", value: 90},
                            {title: "dreamweaver", value: 20},
                            {title: "illustrator", value: 20},
                            {title: "after effects", value: 75},
                            {title: "indesign", value: 0},
                            {title: "html&css3", value: 80}
                        ], type: "linear"})