doctype html
html
	head
		include /head/head.pug
	body
		.site-content
			.wrap.wrap_side_left
				.preview
					.image.preview__image
						.image__stroke
							.image__background
								.image__picture
					em(class="em em_size_name") Evgeniy
					em(class="em em_size_surname em_weight_bold") Miller
					em(class="em em_size_career em_weight_bold") noname
			.wrap.wrap_side_right
