//- Подключение mixin'ов
include ../static/BEM/mixinsList

doctype html
html
	head
		//- Подключение шапки
		include /head/head.pug
	body
		.base
			// Левая колонка сайта
			.wrap.wrap_ident_mainLeft
				// Блок Preview
				+wrapElMix(true)
					+blockMix()
						+blockElMix
							+previewMix('Evgeniy', 'Miller', 'noname')
								+imageMix(require("../static/images/myLogo.png"))
				// Блок Profile
				+wrapElMix(true)
					+blockMix('profile', require("../static/images/manIcon.png"))
						+blockElMix
							p.p
								| Привет. Это должен быть блок с простым текстом.. Ну, раз уж разрешили писать про себя, то почему бы и не воспользоваться возможностью, правильно?
								br
								| Итак... Евгеша, 17 годиков, Северск. Учусь в 11 классе, веду никому не нужный канал на YouTube, периодически рисую, читаю, часто лезу в графику, иногда в 3D и так далее.. Всё как обычно. Хочу в Канаду.
								br
								b С фронтендом познакомился, когда решил сделать сайт для канала (года 2-3 назад). Активно влез сюда относительно недавно. Пока сижу на уровне джуна.
								br
								|
								| Если вкратце, то всё.
				// Блок Contact
				+wrapElMix(true)
					+blockMix('contact', require("../static/images/handsetIcon.png"))
						+blockElMix
							+contactsMix
								+contactsElMix('adress')
									em.em.em_style_normal Kalinina, Seversk
								+contactsElMix('email')
									em.em.em_style_normal karabin.m@yandex.ru
								+contactsElMix('phone')
									em.em.em_style_normal +7-952-153-84-08
								+contactsElMix('website')
									em.em.em_style_normal development paused
				// Блок Skills
				+wrapElMix(true)
					+blockMix('skills', require("../static/images/bulbIcon.png"))
						+blockElMix
							+rateMix('dotted')
								+rateElMix('creative', 'dotted', 75)
								+rateElMix('teamwork', 'dotted', 80)
								+rateElMix('innovate', 'dotted', 70)
								+rateElMix('communication', 'dotted', 75)
			// Правая колонка сайта
			.wrap.wrap_ident_mainRight
				// Блок Education
				+wrapElMix(true)
					+blockMix('education', require("../static/images/starIcon.png"))
						+blockElMix
							+listMix
								+listElMix('1 to 5 classes', 'Sep 2007 - May 2012', '25 School', 'lightblue')
									p.p
										| Вышки нет, поэтому будет то, что есть. 1 - 5 классы, первая школа, учился здесь пока жил ещё в томске.
								+listElMix('6 to 9 classes', 'Sep 2012 - May 2017', '81 School', 'lightblue')
									p.p
										| Среднее неполное образование, жил уже в Северске.
								+listElMix('10 to 11 classes', 'Sep 2017 - Now', '81 School', 'lightblue')
									p.p
										| Последний рывок, последние два класса в физмат профиле до полного среднего.
				// Блок Experience
				+wrapElMix(true)
					+blockMix('experience', require("../static/images/packageIcon.png"))
						+blockElMix
							+listMix
								+listElMix('lKl official', 'Oct 2014 - Aug 2018', 'Host')
									p.p
										| Опять же - я ещё нигде не работал, так что будут хобби-проекты. lKl - Mr&nbsplKlAlRlAlBlIlNl - преимущественно YouTube проект, на котором я выпускал видосики по играм, пробовал делать переводы и т.п.. 
										br
										| Именнно этот проект сподвигнул меня познакомиться с Frontend'м.  
								+listElMix('White Gloom', 'Aug 2018 - Now', 'Host')
									p.p
										| Mr lKlAlRlAlBlIlNl морально устарел, и на смену ему пришёл новый проект - White&nbspGloom. Проект отличается начинкой и целевой аудиторией - проект полностью отдан творчеству и хобби.
										br
										| Для проекта также разрабатывается сайт, но сейчас разработка на паузе (в угоду курсу).
				// Блок Software
				+wrapElMix(true)
					+blockMix('software', require("../static/images/computerIcon.png"))
						+blockElMix
							.splitter
								.wrap.wrap_ident_rate
									+wrapElMix
										+rateMix
											+rateElMix('photoshop', 'linear', 90)
											+rateElMix('illustrator', 'linear', 20)
											+rateElMix('indesign', 'linear', 0)
								.wrap.wrap_ident_rate
									+wrapElMix
										+rateMix
											+rateElMix('dreamweaver', 'linear', 20)
											+rateElMix('after effects', 'linear', 75)
											+rateElMix('html&css3', 'linear', 80)