include ../blocks/content/content

doctype html
html
    // Шапка страницы
    head
        meta(charset="utf-8")
        title Resume
        link(rel="shortcut src" href="static/images/favsrc.ico" type="image/x-src")
        meta(name="description" content="Resume")
        meta(name="Keywords" content="Resume")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet" type="text/css" href="static/styles/styles.css")
    // Тело страницы
    body
        +content()