include ../BEM/wrapper/wrapper
include ../BEM/user/user
include ../BEM/icon/icon
include ../BEM/contacts/contacts
include ../BEM/rate/rate
include ../BEM/list/list
include ../BEM/em/em
include ../BEM/p/p
include ../BEM/column/column
include ../BEM/title/title
include ../BEM/block/block