include ../blocks/wrapper/wrapper
include ../blocks/user/user
include ../blocks/icon/icon
include ../blocks/contacts/contacts
include ../blocks/rate/rate
include ../blocks/list/list
include ../blocks/em/em
include ../blocks/p/p
include ../blocks/column/column
include ../blocks/title/title
include ../blocks/block/block