include ../title/title
include ../list/list

mixin experience-block(options = {})
    -
        const {data = [], title = "", image = ""} = options;
    .experience-block
        +title({text: title, src: image})
        .experience-block
            +list({data: data})