include ../list/list

mixin experience-block(options)
    -
        options = options || {};
        const {data = []} = options;
    .experience-block
        +title({text: "experience", src: "./static/images/package-icon.png"})
        .experience-block
            +list({data: data})