include ../contacts/contacts

mixin contacts-block(options = {})
    -
        const {data = [], title="", image=""} = options;
    section.contacts-block
        +title({text: title, src: image})
        .contacts-block__el
            +contacts({data: data})