include ../contacts/contacts

mixin contacts-block(options)
    -
        options = options || {};
        const {data = []} = options;
    section.contacts-block
        +title({text: "contact", src: "./static/images/handset-icon.png"})
        .contacts-block__el
            +contacts({data: data})