include ../block/block
include ../contacts/contacts

mixin contacts-block(options)
    -
        options = options || {};
        const {data = []} = options;
    +block({title: {text: "contact", src: "./static/images/handset-icon.png"}})
        +contacts({data: data})