mixin pStyled(options)
    -
        var options = options ? options : {};
        var text = options.text ? options.text : "";
    p.pStyled&attributes(attributes)= text
        if block
            block