//- Миксин создаёт параграф. Свойства:
//- "text" (string / nothing) - текст параграфа. По умолчанию - "".
//- Ожидается текст или ничего.
mixin pStyled(options)
    -
        var options = options ? options : {};
        var text = options.text ? options.text : "";
    p.pStyled&attributes(attributes)= text
        if block
            block