//- Миксин создаёт корневой элемент страницы.
//- Ожидается любое содержимое.
mixin baseMix(options)
	-
		var options = options ? options : {};
	main.base&attributes(attributes)
		if block
			block