include ../paragraph/paragraph

mixin list(options = {})
    -
        const {data = []} = options;
    ul.list
        for item in data
            li.list__el
                .list__el-header
                    h2.list__el-major-title(class="" + (" list__el-major-title_color_" + (item.titleColor ? item.titleColor : "black")))= item.majorTitle
                    if item.date
                        em.list__el-date= item.date
                    if item.minorTitle
                        em.list__el-minor-title= item.minorTitle
                .list__el-content
                    +paragraph({text: item.text})