mixin list(options)
    -
        var options = options ? options : {};
        var data = options.data ? options.data : {};
    ul.list&attributes(attributes)
        for item in data
            li.list__el&attributes(attributes)
                .list__el-header
                    h2.list__el-major-title(class="" + (" list__el-major-title_color_" + (item.titleColor ? item.titleColor : "black")))= item.majorTitle
                    if item.date
                        em.list__el-date= item.date
                    if item.minorTitle
                        em.list__el-minor-title= item.minorTitle
                .list__el-content!= item.text