.list
  list-style: none
  padding-left: 11rem

  &__el
    position: relative
    margin-top: 2.25rem

    &:first-child
      margin-top: 3rem

    &::before
      content: '\2B24'
      position: absolute
      font-size: 5rem
      left: -8.5rem

  &__el-major-title
    display: inline-block
    margin: 0
    font-size: 5rem
    text-transform: uppercase
    font-family: Myriad-Pro, Arial, sans-serif
    font-weight: bold

    &_color
      &_black
        color: black

      &_blue
        color: #3d6cb0

  &__el-date
    display: inline-block
    margin: 0 0 0 3rem
    font-size: 5rem
    font-style: normal

    &::before
      content: '// '

  &__el-minor-title
    display: block
    margin: .9rem 0 0
    font-size: 5rem
    font-style: normal
    text-transform: uppercase

  &__el-content
    margin-top: 1.25rem