mixin previewMix(options)
	-
		var options		= options ? options : {};
		var name		= options.name ? options.name : 'name',
			surname		= options.surname,
			profession	= options.profession;
	.preview&attributes(attributes)
		.preview__image
			if block
				block
		.preview__infoBox
			em.preview__info.preview__info_type_name= name
			if surname
				em.preview__info.preview__info_type_surname= surname
			if profession
				em.preview__info.preview__info_type_profession= profession